@page
@model LionCbdShop.AdminRazorPages.Pages.Orders.DetailsModel
@{
    ViewData["Title"] = "Order details";
}

<div>
    <h2 class="text-center pb-3">Order @Model.Order.OrderNumber</h2>
</div>

<div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>@Model.Order.CustomerUsername</td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>@Model.Order.CreationDate</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Model.Order.Status</td>
            </tr>
            <tr>
                <th>Payment date</th>
                <td>@(Model.Order.PaymentDate == null ? "-" : Model.Order.PaymentDate)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <ul class="list-group">
        <li class="list-group-item active">Order items</li>
        @foreach (var cartItem in Model.Order.CartItems)
        {
            <li class="list-group-item">@cartItem.Product.ProductName x<span class="fw-bold">@cartItem.Quantity</span></li>
        }
    </ul>
</div>

@if (Model.Order.HasBeenPaid)
{
    <form method="post">
        <div class="text-center pt-3">
            <button type="submit" asp-page-handler="Details" asp-route-id="@Model.Order.Id" class="btn btn-success ml-1" onclick="return confirm('Are you sure you want mark this order as delivered?')">Deliver order</button>
        </div>
    </form>
}